*{
    padding: 0;
    margin: 0;
}

.container{
    max-width: 1300px;
    margin: auto;
}



.header{
    background: #f1c40f;
}

.header ul {
    text-align: center;
}

.header ul li {
    display: inline-block;
    margin-left: -4px;
}

.header ul li a {
    display: inline-block;
    padding: 15px 28px;
    text-decoration: none;
    text-align: center;
    font-size: 21px;
    border-right: 1px solid red;
    color: #fff;
    transition: .5s;
}
.header ul li:nth-child(5) a{
    border-right: none;
}


.header ul li a:hover{

    background: #c7a726;
}


.header ul li{
    position: relative;
}


.header ul li ul {
    position: absolute;
    top: 100%;
    left: 0;
    background: #2aa58c;
    width: 300px;

    
}

.header ul li ul li {
    display: block;
    margin: 0;
}

.header ul li ul li a {
    display: block;
}

.header ul li ul li a{
    border: none;
    border-bottom: 1px solid #ddd;
} 

.header ul li ul{
    
    opacity: 0;
    visibility: hidden;
    transition: .6s;
    transform: scaley(0);
    transform-origin: top center;

}


.header ul li:hover ul{
    
    visibility: visible;
    opacity: 1;
    transform: scaley(1);
    
}



